<div class="main-wrapper">
  <div class="container text-center">
   <h2>Shorten Url</h2>
    <div class="row justify-content-center">
        <div class="col-6">
          <%= form_with model: @url do |form| %>
          <%= form.text_field :name, class: "form-control p-2", placeholder: "Enter your url here" %>
          <%= form.submit "Create Url", class: "btn btn-outline-success mt-4",id: "create-url-button" %>
          <% end %>
        </div>
    </div>
  </div>
</div>

<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>